@import url('http://fonts.cdnfonts.com/css/wide-latin');
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

body {
  font-family: 'Arvo', serif;
  font-weight: 600;
  color: #5b5b5b;
 }
 
 h1, h3, h4, h6 {
  font-family: 'Wide Latin', sans-serif;
  color: #5b5b5b;    
 }

 img {
  width:70px; 
  height:50px; 
  margin:-10px; 
  padding:0 !important; 
  line-height: 0;
  display: block;
 }


 #next{
  border-width: 3px;
  padding: 10px;
  font-family: 'Arvo', serif;
  font-weight: 600;
  color: #5b5b5b; 
  margin-top: 40%;
  margin-left: 70%;
  position: relative;
}


/*circle_wrap, circle_status and c1 all for SCAMPER circles*/
.circle_wrap {
    display: flex;
    flex-wrap: nowrap;
    width: 800px;
    height: 50px;
    padding-top:10px;
    margin-left:260px;
    position:relative
  }
  .circle_status {
    margin-right: 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  .c1, .c2, .c3, .c4, .c5, .c6, .c7 {
    background-color:  #c192d1;
    color: #ffd166;
    font: bold 35px 'Wide Latin', sans-serif;
    padding: 4px 3px 0 3px;
    text-align: center;
}

input, textarea{
    padding: 20px;
    font-family: 'Arvo', serif;
    font-weight: 600;
    line-height: 1.2em;
    border-color: transparent;
}

/*move the brainstorm boxes, cite from W3schools*/
#brainstorm {
  position: absolute;
  z-index: 9;
  background-color: #d6b1e2;
  text-align: center;
  border-radius: 15%;
  height: 150px;
}

#brainstormBox{
  cursor: move;
  z-index: 10;
  color: #5b5b5b;
  text-align: center;
  font-size: 20px;
  padding: 15px;
}

.hey.userIdeas{
  display: none;
}

.hey{
  display:block;
}

/*summary tables*/
table {
  font-family: 'Arvo', serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #d6b1e2;
}

h5 {
  color: #585858;
  font-family: 'Wide Latin', sans-serif;
}


/*tutorial*/
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted #818181;; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #c192d1;
  color: snow;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -80px; 
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;

}


/*Navigation bar*/
/* Add a black background color to the top navigation */
.topnav {
  background-color: #faf0e6;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #585858;
  text-align: center;
  line-height: 140%;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #06d6a0;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  color: white;
}


/*funky buttons CITE!!!!*/


.btn {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 900;
  padding: 1.25rem 2rem;
  font-size: 1rem;
  border-radius: 3.5rem/100%;
  position: relative;
  min-width: 15rem;
  max-width: 90vw;
  overflow: hidden;
  border: 0;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  transition: all 330ms;
}
.btn + .btn {
  margin-top: 1rem;
}
.btn span {
  position: relative;
  z-index: 1;
}
.btn:before {
  content: "";
  background-color: #21d4fd;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale(4) translateX(-100%);
  transition: all 495ms ease-out;
}
.btn:hover:before, .btn:focus:before, .btn:active:before {
  transform: scale(4) translate(37%);
}

.btn--alpha {
  background-color: #ef476f;
  color: #ffd166;
}
.btn--alpha:before {
  background-color: #ffd166;
  background-image: linear-gradient(to right, #ffd166 30%, #ef476f 100%);
  position: absolute;
}
.btn--alpha:hover, .btn--alpha:focus, .btn--alpha:active {
  color: #ef476f;
}


/*change buttons*/
select {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 900;
  padding:0.55rem 1.2rem;
  outline: none;
  margin-top: -5px;
  margin-bottom:-5px;
  border-radius: 3.5rem/100%;
  overflow: hidden;
  border: 0;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  transition: all 330ms;
  background-color: white;
}

  #onlySCAMPER{
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 900;
  padding:0.55rem 1.2rem;
  outline: none;
  margin-top: -5px;
  border-radius: 3.5rem/100%;
  overflow: hidden;
  border: 0;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  transition: all 330ms;
  background-color: white;
}

#type {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 900;
  padding:0.55rem 1.2rem;
  outline: none;
  margin-top: -5px;
  border-radius: 3.5rem/100%;
  overflow: hidden;
  border: 0;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  transition: all 330ms;
  background-color: #d6b1e2;
}


.highlightCircle{
    width: 100px;
    height: 100px;
    position:absolute;
    top:-1px;
    margin-left:-410px;
    opacity: 80%;
  }

  .finalStoryboard{
      display:inline-block; 
      min-width:300px; 
      min-height:300px; 
      background-color: linen; 
      padding:20px;
      margin-right:20px;
      margin-left:10px
  }

     h2{
      padding: 10px;
      display: inline-block;
      border: 1px solid #d6b1e2;
      font-size: 20px;
      border-radius: 2% 6% 5% 4%/1% 1% 2% 4%;
      text-transform: uppercase;
      letter-spacing: 0.3ch;
      position: relative;
      font-family: 'Wide Latin', sans-serif;
      color: #6a5acd
       }
    
    h2::before {
      content: "";
      border: 2px solid #d6b1e2;
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
      border-radius: 1% 1% 2% 4%/2% 6% 5% 4%;
    }

    #pencilEdit{
      font-family: 'Wide Latin', sans-serif;
      color:black

    }

    .ideaButton{
      font-weight: 900;
      background-color: slateblue;
      color:snow;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 12px;
      padding:0.55rem 1.2rem;
      outline: none;
      margin-top: 5px;
      border-radius: 3.5rem/100%;
      border: none;
      text-transform: uppercase;
    }
  