@import url('http://fonts.cdnfonts.com/css/wide-latin');

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  color: #5b5b5b;
 }
 
 h1, h3, h4, h5, h6 {
  font-family: 'Wide Latin', sans-serif;
  color: #5b5b5b;    
 }

 h2 {
  font-family: 'Source Sans Pro', sans-serif;
 }


 #next{
  border-width: 3px;
  padding: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  color: #5b5b5b; 
  margin-top: 40%;
  margin-left: 70%;
  position: relative;
}


/*circle_wrap, circle_status and c1 all for SCAMPER circles*/
.circle_wrap {
    display: flex;
    flex-wrap: nowrap;
    width: 800px;
    height: 50px;
    padding-top:10px;
    margin-right: 650px;
  }
  .circle_status {
    margin-right: 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  .c1, .c2, .c3, .c4, .c5, .c6, .c7 {
    background-color:  #d6b1e2;;
    font: bold 35px 'Wide Latin', sans-serif;; 
    padding: 4px 3px 0 3px;
    text-align: center;
    position: relative;
}

input, textarea{
    padding: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    line-height: 1.2em;
    border-color: transparent;
}

#hiddenMenuButtons{
  display: none;
}

#hiddenMenuButtons.visible{
  display: block;
  animation: fade-slide-in 0.3s ease-out forwards;
}

/*move the brainstorm boxes, cite from W3schools*/
#brainstorm {
  position: absolute;
  z-index: 9;
  background-color: #d6b1e2;
  text-align: center;
  border-radius: 15%;
  height: 150px;
}

#brainstormBox{
  cursor: move;
  z-index: 10;
  color: #5b5b5b;
  text-align: center;
  font-size: 20px;
  padding: 15px;
}

.hey.userIdeas{
  display: none;
}

.hey{
  display:block;
}

/*summary tables*/
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}


/*tutorial*/
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted #818181;; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 250px;
  background-color: #818181;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
/* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;

}


/*Navigation bar*/
/* Add a black background color to the top navigation */
.topnav {
  background-color: linen;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #585858;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  color: white;
}


/*funky buttons CITE!!!!*/


.btn {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 900;
  padding: 1.25rem 2rem;
  font-size: 1rem;
  border-radius: 3.5rem/100%;
  position: relative;
  min-width: 15rem;
  max-width: 90vw;
  overflow: hidden;
  border: 0;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  transition: all 330ms;
}
.btn + .btn {
  margin-top: 1rem;
}
.btn span {
  position: relative;
  z-index: 1;
}
.btn:before {
  content: "";
  background-color: #21d4fd;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale(4) translateX(-100%);
  transition: all 495ms ease-out;
}
.btn:hover:before, .btn:focus:before, .btn:active:before {
  transform: scale(4) translate(37%);
}

.btn--alpha {
  background-color: #95dcec;
  color: #b721ff;
}
.btn--alpha:before {
  background-color: #b721ff;
  background-image: linear-gradient(to right, #b721ff 30%, #95dcec 100%);
  position: absolute;
}
.btn--alpha:hover, .btn--alpha:focus, .btn--alpha:active {
  color: #95dcec;
}

.btn--beta {
  background-color: #08aeea;
  color: #2af598;
}
.btn--beta:before {
  background-color: #2af598;
  background-image: linear-gradient(to right, #2af598 30%, #08aeea 100%);
  position: absolute;
}
.btn--beta:hover, .btn--beta:focus, .btn--beta:active {
  color: #08aeea;
}

.btn--gamma {
  background-color: #fee140;
  color: #fa709a;
}
.btn--gamma:before {
  background-color: #fa709a;
  background-image: linear-gradient(to right, #fa709a 30%, #fee140 100%);
  position: absolute;
}
.btn--gamma:hover, .btn--gamma:focus, .btn--gamma:active {
  color: #fee140;
}

.btn--delta {
  background-color: #3eecac;
  color: #ee74e1;
}
.btn--delta:before {
  background-color: #ee74e1;
  background-image: linear-gradient(to right, #ee74e1 30%, #3eecac 100%);
  position: absolute;
}
.btn--delta:hover, .btn--delta:focus, .btn--delta:active {
  color: #3eecac;
}